<div class="chat">
  <div class="chat-header">Chat Name</div>
  <div class="chat-window">
    <ul class="message-list">
      <li class="message-item">
        <div class="message-incoming">
          Hello World!
        </div>

        <div class="message-incoming">
          test
        </div>

        <div class="message-outgoing">
          LOL
        </div>

        <div class="message-incoming">
          Yay
        </div>

        <div class="message-incoming">
          Meow
        </div>

        <div class="message-outgoing">
          1234567890
        </div>

        <div class="message-outgoing">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda commodi consequatur cupiditate debitis ea excepturi facilis fuga hic id nam quidem, tempore, totam. Atque dignissimos fuga qui saepe ut!
        </div>


      </li>
    </ul>
  </div>
  <div class="chat-input">
    <input type="text" class="message-input" placeholder="Type your message here">
    <button mat-icon-button class="send-button">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
