<div class="chat">
  <div class="chat-header">{{ selectedChatName }}</div>
  <div class="chat-window">
    <ul class="message-list">
      <li class="message-item">
        <mat-list class="message-list">
          <div>
            @if (message.length > 0) {
              @for(message of message; track message.id) {
                <div class="message-incoming">
                  <p>{{message.usernick}}</p>
                  <p>{{message.text}}</p>
                  <p>{{message.time}}</p>
                </div>

              }
            } @else {
              <h3>No messages found</h3>
            }
          </div>
        </mat-list>
      </li>
    </ul>
  </div>
  <div class="chat-input">
    <input type="text" class="message-input" placeholder="Type your message here">
    <button mat-icon-button class="send-button">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
