.chat {
  width: auto;
  background-color: #F1F0E8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #89A8B2;
  color: #fff;
  padding: 22px;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.chat-window {
  height: calc(100vh - 216px);
  overflow-y: scroll;
  background: #F1F0E8;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.message-item {
  display: flex;
  justify-content: flex-start; /* Default alignment for incoming messages */
}

.message-list li {
  display: flex;
  flex-direction: column;
}

.message-incoming, .message-outgoing {
  max-width: 60%;
  padding: 0.7rem;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.message-incoming {
  background: #B3C8CF;
  margin-top: 10px;
}

.message-outgoing {
  justify-content: flex-end;
  background: #E5E1DA;
  margin-top: 10px;

}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border-top: 1px solid #89A8B2;
  background: #89A8B2;
  gap: 10px; /* Abstand zwischen den Elementen */
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

button.mat-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.send-button:hover {
  color: rgb(0, 0, 0);
}

.photo-added {
  margin: 10px 0;
  text-align: center;
}

.added-photo {
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
