<div class="chat">
    <div class="chat-header">
      <div>{{ selectedChatName }}</div>
      <span class="leaveChat"></span>

      <button mat-icon-button>
        <mat-icon (click)="leaveChat()">not_interested</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>

    </div>

  <div class="chat-window" #chatWindow>
    <ul class="message-list">
      <li class="message-item">
        <mat-list class="message-list">
          <div>
            @if (message.length > 0) {
              @for(message of message; track message.id) {
                <div [ngClass]="{'message-incoming': message.usernick !== 'Dominik', 'message-outgoing': message.usernick === 'Dominik'}">
                  <p>{{message.usernick}}</p>
                  <p>{{message.text}}</p>
                  @if (message.photoid) {

                    <img [src]="photos[message.id]" alt="Failed to Load Image" (error)="onImageError(message.id)" />

                  }
                  <p>{{formatMyDate(message.time) || message.time}}</p>
                </div>
              }
            } @else {
              <h3>No messages found</h3>
            }
          </div>
        </mat-list>
      </li>
    </ul>
  </div>

  @if (photo){
    <div class="photo-added">
      <p>Bild hinzugefügt:</p>
      <img [src]="photo" alt="Hinzugefügtes Bild" class="added-photo" />
    </div>
  }

  @if (isCameraOverlayVisible){
    <app-camera-overlay
      (photoCaptured)="handlePhotoCaptured($event)"
      (overlayClosed)="isCameraOverlayVisible = false">
    </app-camera-overlay>
  }

  <form class="chat-input" (ngSubmit)="sendMessage()">
    <button mat-icon-button type="button" (click)="openCameraOverlay()">
      <mat-icon>camera_alt</mat-icon>
    </button>
    <input type="text" class="message-input" placeholder="Type your message here" [(ngModel)]="text" name="text" autocomplete="off" />
    <button mat-icon-button class="send-button">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
