mat-toolbar{
    background: #E5E1DA;
}

.sidenav {
  width: 20vw;
  height: calc(100vh - 64px);
  border-radius: 0 !important;
  position: relative;
  background: #E5E1DA;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 20vw;
  height: calc(100vh - 64px);
  background: #E5E1DA;
}

.search-bar-wrapper {
  display: flex;            /* Use Flexbox for centering */
  justify-content: center;  /* Center horizontally */
  align-items: flex-start;  /* Align the search bar at the top vertically */
  height: 100%;             /* Ensure the wrapper takes full height */
}

.search-box {
  width: 15vw; /* Adjust the width to prevent overflow */
  padding: 1rem;
  border: 1px solid #F1F0E8 !important;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  background-color: #F1F0E8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
