mat-toolbar{
  background: #E5E1DA;
}

.sidenav {
  border-radius: 0 !important;
  background: #E5E1DA;
}

h3 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: auto;
  height: calc(100vh - 64px);
  background: #F1F0E8;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5%;
}

.search-box {
  width: 15vw;
  padding: 1rem;
  border: 1px solid #F1F0E8 !important;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  background-color: #F1F0E8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-list{
  font-size: 18px;
  height: calc(200vh - 64px);
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

mat-list-item h3 {
  margin: 10px;
  font-size: 16px;
}

.add-chat {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  background: rgb(157, 178, 191);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.headline{
  align-content: center;
}
