<mat-toolbar class="toolbar">
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon (click)="deregister()">person_remove</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="logout()">logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <div class="search-bar-wrapper">
      <input type="text" placeholder="Search chats..." class="search-box" />
    </div>

    <mat-list class="chat-list">
          <div>
            @if (chats.length > 0) {
              @for(chat of chats; track chat.chatid) {
                <mat-list-item routerLink='/chat/{{chat.chatid}}' (click)="this.chatService.selectChat(chat.chatid)">
                  <h3>{{chat.chatname}}</h3>
                </mat-list-item>
              }
            } @else {
              <h3>No chats found</h3>
            }
          </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-chat></app-chat>
  </mat-drawer-content>
</mat-drawer-container>
