<mat-toolbar class="toolbar">
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <div class="search-bar-wrapper">
      <input type="text" placeholder="Search chats..." class="search-box" />
    </div>
  </mat-drawer>
</mat-drawer-container>
