<div class="container">
  <p class="title">Login</p>
  <form class="form">
    <label for="userID">UserID</label><br>
    <input type="text" id="userID" name="userID"><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password">

    <input type="submit" value="Sign in">

  </form>
  <p class="signup">Don't have an account?
    <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>
  </p>
</div>

<router-outlet />
