html {
  background-color: rgb(221, 230, 237);
  font-family: "Inter", sans-serif;
}

/* https://colorhunt.co/palette/27374d526d829db2bfdde6ed */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
